<!DOCTYPE html>
<html>
<head>
  <title>Casket Wrapping</title>
  <style type="text/css">
    @charset "UTF-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}caption,th,td{text-align:left;font-weight:400;vertical-align:middle}a img{border:none}.container{*zoom:1}.container:before,.container:after{content:"";display:table}.container:after{clear:both}.pull_right{float:right}.pull_left{float:left}* html{font-size:100%}html{font-size:16px;line-height:1.625em}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body{background:#fff;font-family:"Open Sans";font-weight:400;color:#555;position:relative;-webkit-font-smoothing:antialiased}@media only screen and (max-width: 767px){body{-webkit-text-size-adjust:none;-ms-text-size-adjust:none;width:100%;min-width:0}}@media only screen and (max-width: 768px){.fixed{position:relative!important;top:auto!important;left:auto!important}}h1,h2,h3,h4,h5,h6{font-family:"Open Sans";font-weight:300;color:#444;text-rendering:optimizeLegibility;padding-top:.273em;line-height:1.15538em;padding-bottom:.273em}h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#d04526}@media only screen and (max-width: 767px){h1,h2,h3,h4,h5,h6{word-wrap:break-word}}h1{font-size:68px;font-size:4.25rem}h2{font-size:42px;font-size:2.625rem}h3{font-size:30px;font-size:1.875rem}h4{font-size:26px;font-size:1.625rem}h5{font-size:18px;font-size:1.125rem}h6{font-size:16px;font-size:1rem}@media only screen and (max-width: 767px){h1{font-size:42px;font-size:2.625rem}h2{font-size:36px;font-size:2.25rem}}.subhead{color:#777;font-weight:400;margin-bottom:20px}p{font-family:"Open Sans";font-weight:400;font-size:16px;font-size:1rem;margin-bottom:13px;line-height:1.625em}p.lead{font-size:20px;font-size:1.25rem;margin-bottom:18px}@media only screen and (max-width: 768px){p{font-size:17.6px;font-size:1.1rem;line-height:1.625em}}a{color:#d04526;text-decoration:none;outline:0;line-height:inherit}a:hover{color:#c03d20}strong{font-weight:700;line-height:inherit}small{font-size:56.4%;line-height:inherit}h1 small,h2 small,h3 small,h4 small,h5 small{color:#777}hr{border:1px solid #ccc;clear:both;margin:16px 0 18px;height:0}abbr,acronym{text-transform:uppercase;font-size:90%;color:#222;border-bottom:1px solid #ccc;cursor:help}abbr{text-transform:none}@media print{*{background:transparent!important;color:#000!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}p a{color:#555!important;text-decoration:underline}p a:visited{color:#555!important;text-decoration:underline}p a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after{content:""}a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}@page{margin:.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}.row{width:100%;max-width:980px;min-width:320px;margin:0 auto;padding-left:20px;padding-right:20px}.row .row{min-width:0;padding-left:0;padding-right:0}.column,.columns{margin-left:2.12766%;float:left;min-height:1px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.column:first-child,.columns:first-child,.alpha{margin-left:0}.column.omega,.columns.omega{float:right}.row .one.column{width:6.38298%}.row .one.columns{width:6.38298%}.row .two.columns{width:14.89362%}.row .three.columns{width:23.40426%}.row .four.columns{width:31.91489%}.row .five.columns{width:40.42553%}.row .six.columns{width:48.93617%}.row .seven.columns{width:57.44681%}.row .eight.columns{width:65.95745%}.row .nine.columns{width:74.46809%}.row .ten.columns{width:82.97872%}.row .eleven.columns{width:91.48936%}.row .twelve.columns{width:100%}img,object,embed{max-width:100%;height:auto}img{-ms-interpolation-mode:bicubic}@media only screen and (max-width: 767px){body{-webkit-text-size-adjust:none;-ms-text-size-adjust:none;width:100%;min-width:0}.container{min-width:0;margin-left:0;margin-right:0}.row{width:100%;min-width:0;margin-left:0;margin-right:0}.row .row .column,.row .row .columns{padding:0}.row .centered{margin-left:0!important}.column,.columns{width:auto!important;float:none;margin-left:0;margin-right:0}.column:last-child,.columns:last-child{margin-right:0;float:none}[class*="column"] + [class*="column"]:last-child{float:none}[class*="column"]:before{display:table}[class*="column"]:after{display:table;clear:both}[class^="push_"],[class*="push_"],[class^="pull_"],[class*="pull_"]{margin-left:0!important}}h1{margin-top:-15px;cursor:pointer;-webkit-transform:scale(1);opacity:1;transition:all 400ms ease}h1.togg1.active,h1.togg2.active,h1.togg3.active{-webkit-transform:scale(0);opacity:0}p{cursor:pointer;-webkit-transform:scale(0);opacity:0;margin-top:-90px;transition:all 400ms ease}p.togg1.active,p.togg2.active,p.togg3.active{-webkit-transform:scale(1);opacity:1}
    button, select {
      background-color:#f3f4f5;
      border: solid 1px #d2d7dc;
      border-radius: 0.35em;
      width:50%;
      margin-top:0.75em;
      padding: 5px;
      color: #52575c;
      text-align: center;
      font-size: 20px;
    }
    .input {
      width:100%;
      padding: 17px;
      color: #52575c;
      text-align: center;
      font-size: 20px;
    }
    #form_header_text {
      background-color:#f3f4f5;
      border: solid 1px #d2d7dc;
      border-radius: 0.35em;
      width:49%;
      padding: 17px;
      color: #52575c;
      text-align: center;
      font-size: 20px;
    }
    .date_input {
      width: 40px;
      color: #52575c;
      background-color:#f3f4f5;
      text-align: center;
    }
    .header_input {
      width: 900px;
      color: #52575c;
      background-color:#f3f4f5;
      text-align: center;
      font-size: 25px;
      margin: 10px;
    }
    .input_div {
      margin-top:-0.75em;
    }
    ::-webkit-input-placeholder {
        color:    #222;
    }
    :-moz-placeholder {
       color:    #222;
       opacity:  1;
    }
    ::-moz-placeholder {
       color:    #222;
       opacity:  1;
    }
    :-ms-input-placeholder {
       color:    #222;
    }
    #form_div {
      margin-left: -7rem;
    }
    #images {
      margin-left:5rem;
    }
    #casket {
        background-image:url('/img/caskettop.jpg'); 
        background-repeat:no-repeat; 
        width:60em; 
        height:22em; 
        padding:0;
        margin-right:-10rem;
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover;
        /* border radius*/
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        /* box shadow */
        box-shadow: 0px 0px 16px rgba(0,0,0,0.35);
        -webkit-box-shadow: 0px 0px 16px rgba(0,0,0,0.35);
        -moz-box-shadow: 0px 0px 16px rgba(0,0,0,0.35);
    }
  </style>
  <script type="text/javascript" src="/js/dragdrop.js"></script>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body style="background-color: ; font-family:'Source Sans Pro', sans-serif">
  <iframe src="/casket_maker" style="width:100%; height:4.7em;" frameborder="0"></iframe>
<<<<<<< Updated upstream
  <div class="row" style="margin-top:5em">
=======
    <div class="row" style="margin-top:5em">
>>>>>>> Stashed changes
    <div class="three columns" id="form_div">
      <%= form_for(@casket) do |f| %>
      <!-- Still to do: Implement hidden-field setting via dragdrop.js -->
        <input class="input" id="date1_field" name="casket[date1]" hidden="true" value="">
        <input class="input" id="date2_field" name="casket[date2]" hidden="true" value="">
        <input class="input" id="date3_field" name="casket[date3]" hidden="true" value="">
        <input class="input" id="date4_field" name="casket[date4]" hidden="true" value="">
        <input class="input" id="date5_field" name="casket[date5]" hidden="true" value="">
        <input class="input" id="header_field" name="casket[header1]" hidden="true" value="">
        <br>
        <div id="div_img1" class="input_div">
          <%= f.file_field :image1, :id => 'img_input1', :onClick => 'imgchange("confirm_img1")' %>
          <input class="input" id="img1_field" name="casket[locale_1]" hidden="true" value="">
          <button id="confirm_img1" hidden="true" onClick="confirm_img_one()">Confirm</button>
        </div>
        <br>
        <div id="div_img2" class="input_div">
          <%= f.file_field :image2, :id => 'img_input2', :onClick => 'imgchange("confirm_img2")' %>
          <input class="input" id="img2_field" name="casket[locale_2]" hidden="true" value="">
          <button id="confirm_img2" hidden="true" onClick="confirm_img_two()">Confirm</button>
        </div>
        <br>
        <div id="div_img3" class="input_div">
          <%= f.file_field :image3, :id => 'img_input3', :onClick => 'imgchange("confirm_img3")' %>
          <input class="input" id="img3_field" name="casket[locale_3]" hidden="true" value="">
          <button id="confirm_img3" hidden="true" onClick="confirm_img_three()">Confirm</button>
        </div>
        <br>
        <div id="div_img4" class="input_div">
          <%= f.file_field :image4, :id => 'img_input4', :onClick => 'imgchange("confirm_img4")' %>
          <input class="input" id="img4_field" name="casket[locale_4]" hidden="true" value="">
          <button id="confirm_img4" hidden="true" onClick="confirm_img_four()">Confirm</button>
        </div>
        <br>
        <div id="div_img5" class="input_div">
          <%= f.file_field :image5, :id => 'img_input5', :onClick => 'imgchange("confirm_img5")' %>
          <input class="input" id="img5_field" name="casket[locale_5]" hidden="true" value="">
          <button id="confirm_img5" hidden="true" onClick="confirm_img_five()">Confirm</button>
        </div>
        <br>
        <div id="div_submit">
        </div>
      <% end %>
    </div>
    <div class="nine columns" id="casket">
      <div class="row">
        <div class="twelve columns" id="casket_template" style="margin-top:65px;">
          <div class="row">
            <div class="twelve columns">
              <div id="div_header" style="text-align:center;"> 
                <input type="text" class="header_input" id="header_text" placeholder="Header Text" style="border: 0; background: transparent; color:#222">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns" style="margin-left:4.2em">
              <div class="row" id="div_img_holders">
                <div class="two columns" style="margin-right:15px;">
                  <div id="div_date1" style="text-align:center;">
                    <input class="date_input" type="text" id="img_holder1_text" placeholder="1900" style="border: 0; background: transparent; color:#222; margin-right:3.7em">
                  </div>
                  <div style="background:url('/img/frame5.png') no-repeat; height:110px; width:110px; margin-top:28px;">
                    <div id="img_holder1" ondrop="switch_drop1(event)" ondragover="allowDrop(event)" style="margin-top:11px; margin-left:14px; height:66px; width:78px;"></div>
                  </div>
                </div>
                <div class="two columns" style="margin-right:15px;">
                  <div id="div_date2" style="text-align:center;">
                    <input class="date_input" type="text" id="img_holder2_text" placeholder="1901" style="border: 0; background: transparent; color:#222; margin-right:3.7em">
                  </div>
                  <div style="background:url('/img/frame2.png') no-repeat; height:110px; width:110px;">
                    <div id="img_holder2" ondrop="switch_drop2(event)" ondragover="allowDrop(event)" style="margin-top:18px; margin-left:20px; height:68px; width:68px; border-radius:50%;"></div>
                  </div>
                </div>
                <div class="two columns" style="margin-right:15px;">
                  <div id="div_date3" style="text-align:center;">
                    <input class="date_input" type="text" id="img_holder3_text" placeholder="1902" style="border: 0; background: transparent; color:#222; margin-right:4.4em">
                  </div>
                  <div style="background:url('/img/frame3.png') no-repeat; height:110px; width:110px;">  
                    <div id="img_holder3" ondrop="switch_drop3(event)" ondragover="allowDrop(event)" style="margin-top:18px; margin-left:22px; height:63px; width:54px;"></div>
                  </div>
                </div>
                <div class="two columns" style="margin-right:15px;">
                  <div id="div_date4" style="text-align:center;">
                    <input class="date_input" type="text" id="img_holder4_text" placeholder="1903" style="border: 0; background: transparent; color:#222; margin-right:4.4em">
                  </div>
                  <div style="background:url('/img/frame4.png') no-repeat; height:110px; width:110px;">
                    <div id="img_holder4" ondrop="switch_drop4(event)" ondragover="allowDrop(event)" style="margin-top:17px; margin-left:17px; height:67px; width:67px; border-radius:50%;"></div>
                  </div>
                </div>
                <div class="two columns" style="margin-right:15px;">
                  <div id="div_date5" style="text-align:center;">
                    <input class="date_input" type="text" id="img_holder5_text" placeholder="1904" style="border: 0; background: transparent; color:#222; margin-right:3.7em">
                  </div>
                  <div style="background:url('/img/frame5.png') no-repeat; height:110px; width:110px; margin-top:28px;">
                    <div id="img_holder5" ondrop="switch_drop5(event)" ondragover="allowDrop(event)" style="margin-top:11px; margin-left:14px; height:66px; width:78px;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:320px; height:500px;">
        <div class="twelve columns" id="images" ondrop="drop0(event)" ondragover="allowDrop(event)" style="margin-top:55px; height:300px;">
          <h1 hidden="true">Hidden</h1>     
        </div>
      </div>
    </div>
  </div>
  <div class="row" hidden="true">
    <canvas id="rendered_img" style="margin-top:320px; height:1000px; width:1000px;">
    </canvas>
  </div>
  </body>
</html>
